---
type Props = {
  title: string;
  lang?: string;
  headExtraHtml?: string;
  bodyClass?: string;
  bodyItemType?: string;
  bodyItemscope?: boolean;
  bodyInnerHtml: string;
};

const {
  title,
  lang = 'es-ES',
  headExtraHtml = '',
  bodyClass = '',
  bodyItemType = '',
  bodyItemscope = false,
  bodyInnerHtml,
} = Astro.props as Props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <Fragment set:html={headExtraHtml} />
  </head>
  <body class={bodyClass} itemtype={bodyItemType || undefined} itemscope={bodyItemscope}>
    <Fragment set:html={bodyInnerHtml} />
  </body>
</html>
